
<h1>Responsive Image Grid with Overlays on Hover</h1>
<div class="row">

    <div class="column">
        <a href="http://localhost:3000/app/{{this.appId}}">
            <div class="container">
                <img src="{{this.icon}}"
                    class="image">
                <div class="overlay">
                    <div class="text">{{this.title}}</div>
                </div>
            </div>
        </a>
    </div>

</div>